<div class="container pt-5">
  <div class="row wrapper m-auto" *ngIf="product$ | async as product">
    <div class="col-12 col-md-6 mb-3 image-mobile">
      <img src="{{ product.urlImage }}" class="col-12 col-md-6 image" />
    </div>
    <div class="col-12 col-md-6 product-info">
      <h1 class="text-center text-md-start">{{ product.model }}</h1>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <div class="row">
        <div class="col-12 mb-2">
          <small>{{ product.quantity }} {{ product.quantity > 1 ? 'itens' : product.quantity === 1 ? 'item' : 'Nenhum item' }} em estoque</small>
        </div>
        <!-- <div class="col-3 p-0">
          <input class="form-control quantity-input" type="number" pattern="^[0-9]+$" inputmode="numeric" min="1" value="1"/>
        </div> -->
        <div class="col-12 p-0 text-center text-md-start" *ngIf="quantityCurrentProduct$ | async as quantityCurrentProduct">
          <button class="add-to-cart-button" type="button"
          [disabled]="quantityCurrentProduct.quantity === product.quantity"
          (click)="addToCart(product)"
          [swal]="['Ebaaa!', 'Produto adicionado com sucesso.', 'success']">Adicionar no carrinho</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 image-not-mobile">
      <img src="{{ product.urlImage }}" class="col-12 col-md-6 image" />
    </div>
  </div>
</div>
