.wrapper {
  width: 100%;
  max-width: 1200px;
}

.product {
  width: 100%;
  border-radius: 16px;
  padding: 24px 24px 32px;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.product:hover {
  box-shadow: 0 8px 20px -4px rgb(0 0 0 / 15%);
  transform: scale(1.05) translate(0px, -2px);
}

.model-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  height: 50px;
  vertical-align: middle;
}

.price {
  height: 30px;
  padding: 2px 12px;
  max-width: 120px;
  border-radius: 16px;
  background-color: #a5c926;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 576px) {
  .product {
    width: calc(100% - 10px);
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .product {
    width: calc(100% - 20px);
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}
